{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="">LearnFree</a></div>
            <ul class="links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>

                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}

                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About Us </a></li>

                
            </ul>
            <!-- <a href="" class="action_btn">Get Started</a> -->
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>

            
            </li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}

            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <li><a href="{% url 'about' %}">About Us </a></li>

        </div>
    </header>
    <main>

            <h1 class="h1">Available Courses</h1>

           
    <section>
        <div class="card-container">
            {% for course in courses %}
            <div class="card">
            
                <img src="{{ course.image.url }}" alt="">
                <div class="card-content">
                    <h3><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h3>
                    <p class="course-description">{{ course.description }}</p>
                    <p><strong>Instructor:</strong> {{ course.instructor }}</p>
                    <p><strong>Price: </strong>  ₹{{ course.price }}</p>
                    {% if course.id in enrolled_courses %}
                        <a href="{% url 'course_detail' course.id %}" class="btn">Already Enrolled</a>
                    {% else %}
                        <a href="{% url 'enroll_course' course.id %}" class="btn">Enroll Now</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
        
        
        </div>
      
        
    </section>
</main>
</div>
<footer class="footer">
    <p>&copy; 2024 LearnFree. All rights reserved.</p>
</footer>
<script>
    const toggleBtn= document.querySelector('.toggle_btn')
    const toggleBtnIcon= document.querySelector('.toggle_btn i ')
    const dropdownmenu= document.querySelector('.dropdown_menu')
    toggleBtn.onclick = function  () {
        dropdownmenu.classList.toggle('open')
        const isOpen=dropdownmenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
    }
</script>
</body>
</html>

